node_modules/
/data-cp/*/*.pdf
/data-mdj/*/*.pdf
/data-cp/*/*/*.pdf
/data-mdj/*/*/*.pdf
/mdj-name-index.json
/mdj-named-dockets-used.txt
/cp-name-index.json
/cp-named-dockets-used.txt
/already-run.txt

.gitignore